body {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.top_bar {
    height: 60px;
    line-height: 60px;
    background-color: #000;
}

.top_bar .uk-navbar-nav {
    margin: 10px 70px;
    color: #666;
}

.top_bar .uk-navbar-nav li {
    margin: 0 25px 0 0;
}

.top_bar .uk-navbar-nav li:hover > a {
    background-color: transparent;
    color: white;
}

.top_bar .uk-navbar-nav li.uk-active > a {
    background-color: #2ba3d2;
    color: white;
}

.top_bar .uk-navbar-nav li > a {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

.logo {
    float: left;
    color: #ccc;
    font-size: 25px;
}

.main {
    margin-top: 60px;
}

.main .group_title {
    margin-bottom: 8px;
}

.main .uk-list {
    margin-top: 8px;
}

.group_title {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
}

.group .disable {
    color: #aaa;
}