body {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.top_bar {
    height: 60px;
    line-height: 60px;
    background-color: #000;
}

.top_bar .uk-navbar-nav {
    margin: 10px 70px;
    color: #666;
}

.top_bar .uk-navbar-nav li {
    margin: 0 25px 0 0;
}

.top_bar .uk-navbar-nav li:hover>a {
    background-color: transparent;
    color: white;
}

.top_bar .uk-navbar-nav li.uk-active>a {
    background-color: #2ba3d2;
    color: white;
}

.top_bar .uk-navbar-nav li>a {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

.logo {
    float: left;
    color: #ccc;
    font-size: 25px;
    font-family: cursive;
}

.tishi_con {
    position: relative;
    margin-top: 30px;
}

.tishi_con:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 10;
}

.tishi_con_btns {
    float: right;
}

.main {
    margin-top: 30px;
}

.main .group_title {
    margin-bottom: 8px;
}

.main .uk-list {
    margin-top: 8px;
}

.group_title {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
}

.group .disable {
    color: #aaa;
}

.will_select {
    background-color: #f3f9e5;
    box-sizing: border-box;
    padding: 0 2px 0 0;
    border: #cddfaf solid 1px;
    border-radius: 3px;
}